.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  width: 365px;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 35px;
  margin-right: 10px;
}

.aturswit {
  width: 350px;
  height: 200px;
  left: 50px;
  top: 200px;
}

.namagame {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */


  color: #494949;
}

.deskripsi {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #494949;
}

.buttonplay {
  margin-top: 10px;
  background: goldenrod;
  width: 100px;
  height: 25px;
  border-radius: 15px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
